<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>MyADAS</string>
    <key>CFBundleIdentifier</key>
    <string>com.yourname.adas</string>
    <key>NSCameraUsageDescription</key>
    <string>我们需要使用摄像头来识别前方车辆和车道线</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
</dict>
</plist>
